altgraph==0.17.5
annotated-types==0.7.0
anyio==4.12.0
appdirs==1.4.4
astunparse==1.6.3
autograd==1.8.0
autoray==0.8.0
cachetools==6.2.4
certifi==2025.11.12
charset-normalizer==3.4.4
customtkinter==5.2.2
darkdetect==0.8.0
diastatic-malt==2.15.2
gast==0.7.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
networkx==3.6.1
numpy==2.4.0
ollama==0.6.1
packaging==25.0
pennylane==0.43.2
pennylane_lightning==0.43.0
PyAudio==0.2.14
pydantic==2.12.5
pydantic_core==2.41.5
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
pyttsx3==2.99
requests==2.32.5
rustworkx==0.17.1
scipy==1.16.3
scipy-openblas32==0.3.30.359.2
setuptools==80.9.0
six==1.17.0
SpeechRecognition==3.14.5
termcolor==3.3.0
tomlkit==0.13.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.2
wheel==0.45.1
